.container
  .row.box
    .col-md-12.text-center.box
      hr.tag-divider
      h2 About Test Website
      hr.tag-divider
    .col-md-6
      img.img-responsive.img-left(src="http://placehold.it/540x260")
    .col-md-6
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique sit amet tellus. Maecenas id tristique dui. Class aptent taciti 
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique sit amet tellus. Maecenas id tristique dui. Class aptent taciti 
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique 
        
  .row.box
    .col-md-12.text-center
      hr.tag-divider
      h2 Our Team
      hr.tag-divider-bot
    .col-sm-4.text-center
      img.img-responsive(src="http://placehold.it/750x450")
      h3 John Smith
      small Job Title
    .col-sm-4.text-center
      img.img-responsive(src="http://placehold.it/750x450")
      h3 John Smith
      small Job Title
    .col-sm-4.text-center
      img.img-responsive(src="http://placehold.it/750x450")
      h3 John Smith
      small Job Title