.container
  .row
    .col-md-12.text-center.box
      img.img-responsive(src='http://placehold.it/1200x350', alt='')
      h2 Welcome to
      h1 Test Website
      hr.tag-divider
      h2 by Josh Bowen
        
  .row
    .col-md-12.text-center.box
      hr.tag-divider
      h2 Second Box with Lorem Ipsum
      hr.tag-divider-bot
      img.pull-left.right-pad.bottom-pad(src="http://placehold.it/250x150")
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique sit amet tellus. Maecenas id tristique dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eu sollicitudin massa. Suspendisse fringilla libero at sem luctus aliquet. Etiam euismod auctor ullamcorper. Etiam quis scelerisque felis, sit amet tempor mauris. Sed non ornare lacus, ac suscipit quam. Nullam nec felis elit. Duis interdum tellus dui, sollicitudin varius eros feugiat eu. Nulla suscipit quis lectus in suscipit.
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique sit amet tellus. Maecenas id tristique dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eu sollicitudin massa. Suspendisse fringilla libero at sem luctus aliquet. Etiam euismod auctor ullamcorper. Etiam quis scelerisque felis, sit amet tempor mauris. Sed non ornare lacus, ac suscipit quam. Nullam nec felis elit. Duis interdum tellus dui, sollicitudin varius eros feugiat eu. Nulla suscipit quis lectus in suscipit.
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique sit amet tellus. Maecenas id tristique dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eu sollicitudin massa. Suspendisse fringilla libero at sem luctus aliquet. Etiam euismod auctor ullamcorper. Etiam quis scelerisque felis, sit amet tempor mauris. Sed non ornare lacus, ac suscipit quam. Nullam nec felis elit. Duis interdum tellus dui, sollicitudin varius eros feugiat eu. Nulla suscipit quis lectus in suscipit.
  .row
    .col-md-12.text-center.box
      hr.tag-divider
      h2 Third Box with Lorem Ipsum
      hr.tag-divider-bot
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed congue dolor. Pellentesque ut tortor sed tortor sagittis imperdiet vel quis neque. Nam commodo erat at mauris pharetra, eu molestie lectus luctus. Fusce maximus iaculis urna ac sollicitudin. Aliquam nulla lorem, iaculis sit amet luctus et, gravida et magna. Praesent non volutpat nulla. In malesuada urna ac nulla posuere, at lobortis purus bibendum. Nam placerat libero vel tincidunt ultricies. Nam sed orci elementum, molestie ex accumsan, finibus arcu. Morbi sit amet ligula eget justo pulvinar posuere vel et augue. Nam ac arcu imperdiet, blandit eros sed, viverra purus. Cras laoreet commodo hendrerit. Quisque cursus, tellus eu euismod fringilla, velit mauris pellentesque leo, et mattis leo orci eu ante.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper augue pellentesque quam egestas, ut aliquam eros imperdiet. Integer lacus purus, tempus vel iaculis id, tristique sit amet tellus. Maecenas id tristique dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eu sollicitudin massa. Suspendisse fringilla libero at sem luctus aliquet. Etiam euismod auctor ullamcorper. Etiam quis scelerisque felis, sit amet tempor mauris. Sed non ornare lacus, ac suscipit quam. Nullam nec felis elit. Duis interdum tellus dui, sollicitudin varius eros feugiat eu. Nulla suscipit quis lectus in suscipit.
