$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
 
 hr {
     max-width: 400px;
     border-color: #999999;
 }

.right-pad {
    padding-right: 15px;
}

.bottom-pad {
    padding-bottom: 5px
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: 1px solid #999999;
}

.tag-divider,.tag-divider-bot {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.tag-divider-bot {
    margin: 15px auto 15px;
}

.brand {
    margin: 0;
    font-size: 4em;
    color: white;
    text-align: center;
}

.address {
    margin: 0;
    font-size: 1.5em;
    font-weight: 200;
    color: white;    
    text-align: center;
    margin-bottom: 20px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
}

body {
    background: rgb(150, 150, 150)
    // background: url(../assets/images/Flatirons-Snow.jpg) no-repeat center center fixed;
}

.box {
    padding: 30px 15px;
    margin-bottom: 20px;
    background: #fff;
}

.footer{
    background: white;
    margin: 0;
    padding: 30px 0;

}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'contact/contact.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector